@model SGEM_WEB_SITE.Areas.Item.Models.ItemObj;


@{
    ViewData["Title"] = "SGEM - Cadastro de Item";
}

<form method="post" class="col-6 center" style="margin-top: 5%" action="">

    @if (TempData["MSG_SUCESSO"] != null)
    {
        <p class="alert alert-success">@TempData["MSG_SUCESSO"].ToString()</p>
    }
    else if (TempData["MSG_ERRO"] != null)
    {
        <p class="alert alert-danger">@TempData["MSG_ERRO"].ToString()</p>
    }

    <h2>Cadastro de Itens</h2>
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="Codigo"></label>
        <input asp-for="Codigo" name="Codigo" class="form-control col-4" placeholder="0" disabled />
        <span asp-validation-for="Codigo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Descricao" for="Descricao">Digite aqui uma breve descrição do Item</label>
        <input asp-for="Descricao" name="Descricao" class="form-control" placeholder="Descrição do Item" maxlength="100" id="Descricao" required />
    </div>

    <div class="form-group">
        <label asp-for="Estoque">Qual é a quantidade que você o possui em estoque?</label>
        <input asp-for="Estoque" name="Estoque" class="form-control col-4" placeholder="Estoque" required />
    </div>
    <div class="form-group">
        <label asp-for="Preco">Qual é o preço para locação por unidade?</label>
        <input asp-for="Preco" name="Preco" class="form-control col-4" placeholder="Preço" required />
    </div>
    <div class="form-group">
        <label asp-for="Ativo">Situação atual do Item</label>
        <select asp-for="Ativo" name="Ativo" class="form-control col-4">
            <option value="True" selected>Ativo</option>
            <option value="False">Inativo</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Cadastro">Data em que o Item foi cadastrado!</label>
        <input asp-for="Cadastro" name="Cadastro" class="form-control col-4" disabled />
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar Item</button>
</form>